input {
	padding: .6rem;
	border: none;
	font-size: 1rem;
	background: var(--background-input);
	transition: box-shadow var(--transition-fast);

	&:hover,
	&:focus {
		box-shadow: inset 0 0 0 var(--outline-width) var(--color-primary);
		outline: none;
	}
}
